#card-table {
	width: 88%;
	max-width: 600px;
	border : 1px solid green;
	padding: 2%;
	padding-left: 5%;
	background: #ddffdd;
	text-align: center;
	border-radius: 16px;
	margin: 2%;
	box-shadow: 10px 10px 5px #888888;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid green;
}

#round-info,#prev-round {
	border-radius: 10px;
	padding: 1%;
	margin: 1%;
}

#round-info {
	max-width: 40%;
	border: 1px solid green;
	float: left;
}

#scores-panel {
	width: 20%;
	border: 1px solid green;
	float: left;
}

#prev-round {
	width: 50%;
	float: right;
}

.mini-black,.mini-white {
	width: 75%;
	font-size: 16px;
	height: 30px;
	padding: 20px 20px 8px 20px;
	margin: 0% 1%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}

.mini-black {
	color: white;
	background: #222222;
	border-radius: 20px 20px 0px 0px;
}

.mini-white {
	color: black;
	background: white;
	border-radius: 0px 0px 20px 20px;
}

.mini-winner {
	font-style: italic;
	float: right;
	padding: 10px;
}

#card-table hr {
	clear: both;
}

#black {
  color: white;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 25px;
  align: center;
  background: black;
  margin: 10px;
}

.selection {
	color: black;
	padding: 16px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 25px;
	align: center;
	background: white;
	margin: 10px;
}

.selection.selected {
	background: linear-gradient(to bottom, lightgray, #e3e3e3);
}