<html>

<body ng-app="myApp">
    <div id='left-panel'>
        <div id='black-card'>black card contents</div>
        <div id='hand' ng-controller='HandCtrl'>
            <button ng-click='togglePhase()'>click me!</button>
            <br/>{{ phase }}
            <br/>
            <hr/>
            <ul ng-show='phase'>
                <li class='white-card' ng-repeat='c in hand'>{{ whiteCards[c]}}</li>
            </ul>
        </div>
    </div>
    <div id='right-panel' ng-controller='HandCtrl'>hello</div>
</body>
</html>