<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="index.css">
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
<script src="script.js"></script>
</head>

<body ng-app="myApp" ng-controller='JoinCtrl'>
	<div id='main-panel'>
	  <div id='main-header'> Cards Against Humanity </div>
		<div id='name-wrapper' ng-hide="pageType() == 'add'">
			Name: <input type='text' ng-model='state.name'> 
		</div>
		<div ng-switch on='pageType()'>
			<div ng-switch-when='create'>
				<button ng-click='createNew()'>start a new game</button>
			</div>

			<div ng-switch-when='add'>
					invite players to join at this link: <br/>
					<a href="{{ joinUrl() }}">{{ joinUrl() }}</a>
			</div>

			<div ng-switch-when="join">
				<button ng-click='join()'>join game</button>
			</div>

		</div>
		<div>
			<table id='players-table'>
				<th class='header'>Current Players</th>
				<tr ng-repeat='player in state.players'>
					<td>{{player.name}}</td>
				</tr>
			</table>
		</div>
		<div id='start-game-button' ng-show="pageType() == 'add'">
			<button ng-click='start()'>start</button>
		</div>
	</div>
	<div id='status-bar'>{{ status }}</div>
</body>
</html>