<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <script>
    <!--
      window.open("index.html","fs","fullscreen=yes")
    //-->
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="script.js"></script>
</head>

<body ng-app="myApp" ng-controller='HandCtrl'>
  <div id='left-panel'>
    <div id='black-card'>{{ blackCards[round.data.blackCard]}}</div>
    <div id='play-area'>
      <div id='hand'>
        <span> Choose {{ hand.data.numExpected }} </span>
        <button ng-click='hand.submit()'>submit >></button>
        <hr/>
        <div class='white-card' ng-class="hand.getClass(c)" ng-click='hand.select(c)' ng-repeat='c in hand.data.white'>
          {{ hand.selectionIndex(c) }} {{ whiteCards[c]}}
        </div>
      </div>
      <div id='card-table'>
        <table>
          <tr><td>Round #</td><td>{{round.data.round}}</td></tr>
          <tr><td>moved:</td><td>{{round.data.moved}}</td></tr>
          <tr><td>voted:</td><td>{{round.data.voted}}</td></tr>
          <tr><td>blackCard:</td><td>{{round.data.blackCard}}</td></tr>
        </table>
        <hr/>
        <div class='selection' ng-class="table.getClass(s)" ng-click='table.select(s)' ng-repeat='s in table.data.answers'>
          <div ng-repeat='c in s.cards'><span ng-hide='$first && $last'> {{$index + 1}} . </span>{{whiteCards[c]}}</div>
        </div>
        <button ng-click='table.submit()'>vote</button>
      </div>
    </div>
  </div>
  <div id='right-panel'>
    <div id='scores-panel'>
      <div>Config</div>
      <table>
        <tr><td>voting mode:</td><td>{{config.voteMode}}</td></tr>
        <tr><td>cards per hand:</td><td>{{config.cardsPerHand}}</td></tr>
        <tr><td>swap allowed?</td><td>{{config.swapAllowed}}</td></tr>
        <tr><td>pass allowed?</td><td>{{config.passAllowed}}</td></tr>
      </table>
      <hr/>
      <div>Scores</div>
      <table>
        <tr ng-repeat='player in config.players'>
          <td>{{player.name}}</td>
          <td>{{ player.isPassive ? 'w' : 'p' }}</td>
          <td>{{ player.owner ? 'o' : '-' }}</td>
        </tr>
      </table>
    </div>
    <hr/>
    <div id='history-list'>History</div>
  </div>
  <div id='status-bar'>{{ status }}</div>
</body>
</html>