#hand {
	width: 96%;
	min-width: 400px;
	max-width: 600px;
	border: 1px solid black;
	padding: 2% 2% 60px 2%;
	float: left;
	text-align: center;
	background: #ddeeff;
	border-radius: 16px;
	margin: 2%;
	box-shadow: 10px 10px 5px #888888;
	position: fixed;
	top: 0;
	left: 0;
}

#hand-header {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#choose-wrap {
	margin-right: 10%;
}

#hand #hand-toggle {
	float: right;
}

#hand .card {
	padding: 16px 30px 50px 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	margin: 0px 0px -40px 0px;
}

#hand .white.card {
	background: white;
	color: black;
	border: 2px solid black;
}

#hand .black.card {
	color: white;
	background: #222222;
	line-height: 3em;
}

#hand .white.card.selected {
	background: linear-gradient(to bottom, #bbbbbb, white);
}

#hand.hidden {
	width: 2%;	
	min-width: 20px;
	padding: 2% 0% 60px 0%;
	bottom: 0px;
}

#hand.hidden #hand-header {
	visibility: hidden;
}

#hand.hidden .card {
  visibility: hidden;

}