#wait-message {
	font-size: 30 px;
	background: purple;
	text-align: center;
	margin: 20px;
	padding: 10px;
	border-radius: 25px;
}

#play-area {
	width: 99.7%;
	float: left;
}

#play-area button {
	padding: 8px; border-radius : 10px;
	height: 40px;
	background: white;
	font-size: 16px;
	border-radius: 10px;
	height : 40px;
	background : white;
	font-size :	16px;
	border-width: 4px;
}